/* ATTRIBUTE SELECTOR */

[aria-details*="exemplo"] {
    position: relative;
}

[aria-details*="exemplo"]::after {
    content: '[ ]';
    color: white;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    [aria-details*="exemplo"]::after {
        font-size: 1.5rem;
    }
}